* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  font-family: "Gotham Pro", Arial, serif;
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  background-color: #fff;
  color: #9d4edd;
  height: 70px;
}
.navbar .flex {
  justify-content: space-between;
}
nav ul {
  display: flex;
}
nav a {
  color: gray;
  padding: 10px;
  margin: 0 5px;
  font-weight: 500;
}
nav a:hover {
  border-bottom: 2px #333 solid;
}
nav .custom-color-a {
  padding: 0.5rem;
  background-color: #9d4edd;
  color: #fff;
  border-radius: 0.5rem;
}
nav .custom-color-a a {
  color: #fff;
  border-radius: 10px;
  /* padding: auto;
  margin: auto; */
  border-style: none;
}
.container {
  overflow: auto;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section button {
  padding: 0.5rem;
  background-color: #9d4edd;
  color: #fff;
  border-radius: 0.5rem;
}

main {
  display: flex;
  padding: 2rem;
  margin: 2rem;
  background-color: seagreen;
}
.section-left {
  padding: 2rem;
  background-color: red;
}
.section-right {
  padding: 2rem;
  background-color: purple;
}
